*.iconset
*.obj
*.OBJ
MUSIC/BACK.S3M
.vscode/settings.json
VECTEST.DSK
.vscode/settings.json
SOUNDSET.DSK
SFX/RIFLE.s3i
/.vscode
/.vscode/settings.json
Vectest.7z
*.SAV
*.err
*.lk1
*.map
*.mk
*.mk1
*.sym